'atom-text-editor[data-grammar="source js"]:not([mini])':
    'tab': 'emmet:expand-abbreviation-with-tab'

'atom-text-editor[data-grammar="text html basic"]:not([mini]), atom-text-editor[data-grammar~="erb"]:not([mini]), atom-text-editor[data-grammar~="jade"]:not([mini]), atom-text-editor[data-grammar~="css"]:not([mini]), atom-text-editor[data-grammar~="stylus"]:not([mini]), atom-text-editor[data-grammar~="sass"]:not([mini]), atom-text-editor[data-grammar~="scss"]:not([mini]), atom-text-editor[data-grammar="source js"]:not([mini]), atom-text-editor[data-grammar="source js jsx"]:not([mini]), atom-text-editor[data-grammar="source tsx"]:not([mini])':
  'shift-enter': 'emmet:expand-abbreviation-with-tab'

'atom-text-editor':
  'ctrl-f': 'editor:move-to-end-of-word'
  'ctrl-b': 'editor:move-to-beginning-of-word'
  'ctrl-d': 'editor:delete-to-end-of-word'
  'ctrl-backspace': 'editor:delete-to-beginning-of-word'
  'ctrl-y': 'pane:split-right-and-copy-active-item'
  'ctrl-l': 'pane:show-next-item'
  'ctrl-h': 'pane:show-previous-item'
  'ctrl-x': 'core:close'
  'ctrl-w': 'window:focus-next-pane'
  'ctrl-space': 'linter-ui-default:toggle-panel'
  'alt-w': 'editor:select-word'
